.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.input-description{
    font-size: 2rem;
    text-align: left;
    width: 70%;
}
.btn-description{
    font-size: 1rem;
    text-align: center;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
button{
    font-size: 1.3rem;
    background-color: lightgray;
    height: 4vh;
    width: 8vw;
    border-radius: 10px;
    transition: 0.1s;
}
button:hover{
    background-color: rgb(163, 161, 161);
}
button:active{
    transform: translateY(5px);
}

